<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <!-- @see http://maven.apache.org/settings.html -->
    <!-- <localRepository/> -->
    <!-- <interactiveMode/> -->
    <!-- <offline/> -->

    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>

    <!-- <servers/> -->

    <mirrors>
        <mirror>
            <id>nexus</id>
            <name>nexus</name>
            <url>https://nexus.domain.com/repository/maven-public</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>

    <!-- <proxies/> -->

    <profiles>
        <profile>
            <id>repos</id>
            <properties>
                <altSnapshotDeploymentRepository>nexus-snapshots::default::https://nexus.domain.com/repository/maven-snapshots</altSnapshotDeploymentRepository>
                <altReleaseDeploymentRepository>nexus-releases::default::https://nexus.domain.com/repository/maven-releases</altReleaseDeploymentRepository>
            </properties>

            <repositories>
                <repository>
                    <id>nexus-repo</id>
                    <name>Nexus</name>
                    <url>https://nexus.domain.com/repository/maven-public</url>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
        </profile>

        <profile>
            <id>sonar</id>
            <properties>
                <sonar.host.url>http://sonar.domain.dom:9000</sonar.host.url>
                <sonar.login>1c8c8e6e91a1de52a941ac8c8c1742f73f01b2f2</sonar.login>
                <sonar.java.coveragePlugin>jacoco</sonar.java.coveragePlugin>
                <sonar.language>java</sonar.language>
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>repos</activeProfile>
        <activeProfile>sonar</activeProfile>
    </activeProfiles>
</settings>